In [1]:
import pandas as pd

In [9]:
web_crawler = pd.read_csv('Web_Crawler_News.csv')
print("Rows     : ", web_crawler.shape[0])
print("Columns  : ", web_crawler.shape[1])
print("Shape    : ", web_crawler.shape)
print("Features : ", web_crawler.columns.tolist())
web_crawler.head()

Rows     :  1543
Columns  :  6
Shape    :  (1543, 6)
Features :  ['Date', 'Time', 'Type', 'Author', 'Title', 'Content']

,Date,Time,Type,Author,Title,Content
0,"Saturday, 05 Jun 2021",7:00 AM MYT,News,RAZAK AHMAD,INTERACTIVE: How Malaysia’s fight against Covi...,"PETALING JAYA: A total of 3,330,436 Covid-19 v..."
1,"Wednesday, 21 Oct 2020",8:00 AM MYT,News,DIYANA PFORDTEN，RAZAK AHMAD,Covid-19: Total cases worldwide,PETALING JAYA: The World Health Organization (...
2,"Wednesday, 02 Jun 2021",7:00 AM MYT,News,DIYANA PFORDTEN,INTERACTIVE: More Covid-19 patients are being ...,PETALING JAYA: The number of people in Malaysi...
3,"Tuesday, 25 May 2021",7:00 AM MYT,News,DIYANA PFORDTEN，RAZAK AHMAD,INTERACTIVE: Malaysian Twitter users rank near...,PETALING JAYA: Computer science graduate Muadz...
4,"Sunday, 23 May 2021",NaN,News,NaN,INTERACTIVE: SUFFERING IN SILENCE,Suffering In SilenceHow the Pandemic is Affect...

In [8]:
vips = pd.read_csv('The_Star_News.csv')
print("Rows     : ", vips.shape[0])
print("Columns  : ", vips.shape[1])
print("Shape    : ", vips.shape)
print("Features : ", vips.columns.tolist())
vips.head()

Rows     :  124
Columns  :  1
Shape    :  (124, 1)
Features :  ['Content']

                                             Content
0  National diving queen Pandelela Rinong Pamg in...
1  Asian threat: Japan’s Yudai Nitta (left) and Y...
2  Tough luck: Mohd Shah Firdaus Sahrom looks on ...
3  Poland's Patryk Rajkowski crashes next to Mala...
4  It's over. National diving queen Pandelela Rin...